<div *ngIf="auth.authenticated()">
<div class="row">
  <div class="picture">
    <div *ngIf="profile().identities[0].provider == 'facebook'">
      <img src="{{profile().picture_large}}">
    </div>
    <div *ngIf="profile().identities[0].provider != 'facebook'">
      <img src="{{profile().picture}}">
    </div>
  </div>
  <div class="col-xs-12 col-md-12 actions">
      <!--<button type="button" title="Charger" class="btn btn-secondary btn-default" (click)="loadGame($event)">Charger</button>-->
      <button type="button" title="Rejouer" class="btn btn-secondary btn-success pull-left" (click)="playAgain($event)"><i class="fa fa-refresh" aria-hidden="true"></i></button>
      <button type="button" title="Déconnexion" class="btn btn-secondary btn-danger pull-right" (click)="auth.logout()"><i class="fa fa-sign-out" aria-hidden="true"></i></button>
  </div>
</div>
<div *ngIf="game" class="row" id="huit-actions">
  <form [formGroup]="userForm" (ngSubmit)="newPlayer($event)" class="form-inline col-xs-12">
    <div class="input-group">
      <input formControlName="name" type="text" placeholder="Nom du joueur" class="form-control">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-success"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
        <button type="reset" class="btn btn-danger" (click)="removePlayer($event)"><i class="fa fa-user-times"
                                                                                      aria-hidden="true"></i></button>
      </span>
    </div>
  </form>
</div>
<div class="row" *ngIf="game && game.players.length > 0">
  <div class="col-xs-12">
    <div class="player col-size-{{game.players.length}}" *ngFor="let player of game.players;">
      <player [player]="player"></player>
    </div>
  </div>
</div>
<div class="row" *ngIf="game && game.players.length > 0">
  <div class="col-xs-6">
    <button type="button" class="btn btn-success col-xs-12" (click)="saveScores($event)">Valider la saisie</button>
  </div>
  <div class="col-xs-6">
    <button type="button" class="btn btn-danger col-xs-12" (click)="removeLast($event)">Annuler le dernier jeu</button>
  </div>
</div>
</div>
<div *ngIf="!auth.authenticated() && auth.login()">
</div>
