.register-page {
  position: fixed;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #0275d8;

  .register-error{
    position: fixed;
    top: 30px;
    right: 30px;
    padding: 30px;
    color: #fff;
    background: #FF0000;
    border-radius: 4px;
  }

  .register-block{
    position:fixed;
    left: 50%;
    top:50%;
    width: 400px;
    height: 600px;
    margin: -300px 0 0 -200px;
    background: rgba(0, 0, 0, 0.4);
    text-align: center;
    border-radius: 4px;
    padding: 20px;
    box-sizing: border-box;

    .go-back-btn {
      position: absolute;
      left: 20px;
    }

    .title{
      color: #fff;
      font-size: 2em;
    }

    .register-content{
      padding-top: 10px;
      text-align: left;

      .form-group{
        position: relative;
        height: 70px;

        label{
          padding-left: 5px;
          color: #FFF;
        }

        .form-control-feedback{
          position: absolute;
          width: 100%;
          bottom: -20px;
          text-align: right;
          color: orangered;
        }
      }

      button{
        width: 100%;
        margin-top: 10px;
      }
    }
  }

}
